{% extends "base.html" %}

{% load thumbnail %}


{% block title %}
    {{user.username}}
{% endblock title %}
    
{% block content %}
  <div class="container">
      <div class="row">
          <div class="col col-md-6 col-lg-4">
            <h1>{{user}}</h1>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="profile-info">
                        <img src="{% thumbnail user.profile.photo 180x180 crop %}" alt="">
                    </div>
                </div>
                <div class="col">
                    {% with user.followers.count as total_flowers %}
                    <button class="count btn btn-outline-primary" disabled>
                        <span class="total">
                            {{total_flowers}}
                        </span> Followers
                    </button>
                    <div class="my-2"><b>{{user.get_full_name}}</b></div>
                    {% endwith %}
                </div>
            </div>
            
            {% if request.user != user %}
            <div class="row follow-btn">
                <div class="col">
                    <a href="#" class="mt-3 btn btn-primary btn-block follow" data-id={{user.id}} 
                        data-action="{% if request.user in user.followers.all %}un{% endif %}follow">
                        {% if not request.user in user.followers.all %}
                            Follow
                        {% else %}
                            Unfollow
                        {% endif %}
                        
                    </a>
                </div>
            </div>
            {% endif %}
            
          </div>

          <div class="col">
            <div id="image-list" class="image-container">
                {% include "images/image/list_ajax.html" with images=user.images_created.all %}
            </div>
          </div>
      </div>

  </div>

{% endblock content %}

{% block domready %}
$('a.follow').click(function(e){
    e.preventDefault();
    $.post('{%url "user_follow" %}',
        {
            id:$(this).data('id'),
            action: $(this).data('action')
            
        },
        function(data){
            if(data['status']=='ok'){
                let previous_action = $('a.follow').data('action');
                $('a.follow').data('action',previous_action=='follow'?'unfollow':'follow');
                $('a.follow').text(previous_action=='follow'?'unfollow':'follow');

                let previous_followers = parseInt($('span.total').text());
                $('span.total').text(previous_action=="follow"?previous_followers+1:previous_followers-1);
            }
        }
    )
})
{% endblock domready %}